body {
    font: 12px 'Verdana';
    margin: 0;
    padding: 0;
	background-image: url(../img/fon.png);
	height: 1060px;
}


ul {
    width: 100%;
	display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
	width: 142.8px;
    text-align: center; 
	}
ul.menu > li > a {
    display: block;
    padding: 10px;
	height: 18px;
    color: white;
    background-color: #343434;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: #343434;
	text-decoration: underline;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 100%;
    top: 37px;
    left: 0;
    background-color: white;
    border: 1px solid black;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #343434;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

.fon {
/*     position: absolute;
 */    padding: 0px;
/* 	top: 35px; /* Расстояние от верхнего края */
/*     left: 0px; /* Расстояние от левого края */ 
/*  */    width: 1000px; /* ширина трех блоков */ 
    background-color: white;
    float: left; /* чтобы не добавлять div с style="clear:both;" (не всегда уместно это применять) */
    margin 0 auto;
	overflow: hidden;
  
  
}

.leftColumn  {

  width: 20%;
  height: 510px;
  background-color: #EDEEF0;
  float: left;
  padding: 15px;

}

.centerColumn {

  width: 60%;
  /*float: left;*/
  margin 0 auto;

}

.rightColumn {

  width: 20%;
  height: 510px;
  float: right;
  background-color: #EDEEF0;
  padding: 15px;
  
}

.menublock {
    /* position: absolute; overflow: auto; padding: 0px;*/
    position: relative;
	width: 100%;
	padding: 0px;
	top: 165px; /* Расстояние от верхнего края */
    left: 0px; /* Расстояние от левого края */ 
    bottom: 0; right: 0;
	}
	
.content {
    /* position: absolute; overflow: auto; padding: 0px;*/
    position: relative;
	width: 1000px;
	padding: 0px;
	top: 45px; /* Расстояние от верхнего края */
    left: 151px; /* Расстояние от левого края */ 
	}
	
.header {
    position: absolute;
/* 	width: 83.5%;
 */	padding: 0px;
	top: 0px; /* Расстояние от верхнего края */
    left: 0px; /* Расстояние от левого края */ 
	}
	
.logo {
  position: absolute;
  left: 25px;
 top: 0px;
}

.logo2 {
  position: relative;
  left: 0px;
 top: 168px;
}
.country {

  position: absolute; 
  top: 100px;
  left: 650px;
}	
	
.contact {

  position: absolute;
  top: 10px;
  left: 815px;
  width: 170px;
  
}	

.letter { 
     color: 9ACDDA;
	 font-weight: bold;
}